/* src/pages/Blog/BlogPage.css */

.blog-page-section {
    padding: 4rem 2rem;
    text-align: center;
    background-color: var(--color-fondo);
    color: var(--color-texto);
}

.blog-page-section h3 {
    font-size: 2rem;
}

.blog__intro-text {
    max-width: 700px;
    margin: 0 auto 3rem;
    font-size: 0.95rem;
    line-height: 1.6;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

/* La clase is-in-view ahora se maneja globalmente */
/* .blog__intro-text.is-in-view {
    opacity: 1;
    transform: translateY(0);
} */

.blog__image-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 2rem;
    overflow: hidden;
    border-radius: 1.5rem;
}

.blog__image {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.blog__button-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.blog__button {
    /* Se utiliza la clase de utilidad global btn-secondary */
    background-color: var(--color-acento);
    color: var(--color-texto);
    border: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}