/* --- 2.3. Blog Page --- */
.blog-page-section {
    padding: 4rem 2rem;
    text-align: center;
    background-color: var(--color-fondo);
    color: var(--color-texto);
}

.blog-page-section h3 {
    font-size: 2rem;
}

.blog__intro-text {
    max-width: 700px;
    margin: 0 auto 3rem;
    font-size: 0.95rem;
    line-height: 1.6;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.blog__intro-text.is-in-view {
    opacity: 1;
    transform: translateY(0);
}

.blog__image-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 2rem;
    overflow: hidden;
    border-radius: 1.5rem;
}

.blog__image {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.blog__button-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

/* Estilo del botón */
.blog__boton {
    text-decoration: none;
    border: 1px solid #a07033;
    background-color: #a07033;
    color: #fff;
    padding: 1rem 2.5rem;
    font-size: 1rem;
    border-radius: 9999px;
    font-family: "Commissioner", sans-serif;
    text-transform: capitalize;
    transition: all 0.3s ease;
}

.blog__boton:hover {
    background-color: transparent;
    color: #a07033;
}

/* Cambios en la versión móvil */
@media (max-width: 768px) {
    .blog-page-section {
        padding: 2rem 1.5rem;
    }
    .blog__intro-text {
        font-size: 0.9rem;
    }
}