/* src/components/home/PreFooter.css */

.prefooter-section {
    padding: 80px 20px;
    background-color: transparent; 
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    gap: 30px;

    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.prefooter-section.is-in-view {
    opacity: 1;
    transform: translateY(0);
}

.prefooter__text {
    font-family: var(--font-body);
    font-size: clamp(1.2rem, 2.5vw, 1.8rem);
    line-height: 1.5;
    max-width: 700px;
    color: #fffffc;
    text-align: left;
    margin: 0 auto;
}

/* El estilo para el botón ha sido eliminado, ya que el botón fue removido del componente. */

/* Responsive para PreFooter */
@media (max-width: 768px) {
    .prefooter-section {
        padding: 60px 15px;
    }

    .prefooter__text {
        font-size: 1rem;
    }
}