/* --- 2.3. Cartas al Mar --- */
.cartas-al-mar-section {
  padding: 4rem 2rem; /* Se ajusta de 6rem a 4rem para subir 2cm */
  text-align: center;
  background-color: var(--color-fondo);
  color: var(--color-texto);
  margin-top: 0;
}

/* Cambios en la versión móvil */
@media (max-width: 768px) {
  .cartas-al-mar-section {
    padding: 2rem 1.5rem; /* Se ajusta de 4rem a 2rem para subir 2cm en móvil */
    margin-top: 0;
  }
}
