/* Estilos para el Footer */
.main-footer {
  background-color: var(--azul-profundo); /* Fondo principal del footer */
  color: var(--blanco-horizonte); /* Color del texto general */
  padding: 4rem 2rem 2rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto 2rem;
  text-align: center;
}

.footer-logo img {
  width: 120px;
  margin-bottom: 1rem;
}

.footer-logo p {
  font-size: 0.9rem;
  font-style: italic;
  color: var(--gris-bruma); /* Color para texto secundario o sutil */
}

.footer-links h4 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--blanco-horizonte); /* Títulos de enlaces con el blanco de la paleta */
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 0.5rem;
}

.footer-links a {
  color: var(--gris-bruma); /* Color de enlaces normal */
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 300;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: var(--blanco-horizonte); /* Color de enlaces en hover */
}

.footer-bottom {
  text-align: center;
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.footer-bottom p {
  font-size: 0.8rem;
  color: var(--oliva-suave); /* Un color más tenue para el copyright */
}

/* Media Queries para responsividad */
@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  
  .footer-links {
    margin-bottom: 1.5rem;
  }
  
  .footer-links ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
  }
}

@media (min-width: 768px) {
  .footer-container {
    text-align: left;
  }
}
