/* Estilos para el Header */
.main-header {
  /* Eliminamos la propiedad position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: var(--color-texto);
  z-index: 100;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
}

.header-content img {
  height: 50px; /* Reducimos el tamaño para que no ocupe tanto espacio */
  width: auto;
  transition: transform 0.3s ease;
}

.header-content img:hover {
  transform: scale(1.05);
}

.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2rem;
}

.main-nav a {
  color: var(--color-texto);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-bottom: 0.3rem;
  position: relative;
  transition: color 0.3s ease;
}

.main-nav a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: var(--color-texto);
  transition: width 0.3s ease;
}

.main-nav a:hover {
  color: #fff;
}

.main-nav a:hover::after {
  width: 100%;
}

/* Media Queries para responsividad */
@media (max-width: 768px) {
  .main-header {
    padding: 1rem;
  }

  .header-content {
    flex-direction: column;
    text-align: center;
  }

  .main-nav ul {
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
  }

  .header-logo {
    margin-bottom: 1rem;
  }

  .main-nav a {
    font-size: 0.9rem; /* Ajuste del tamaño de fuente para tablets */
  }
}

@media (max-width: 480px) { /* Media query para teléfonos más pequeños */
  .main-nav a {
    font-size: 0.8rem; /* Tamaño de fuente aún más pequeño para móviles */
    letter-spacing: 0.5px;
  }
  .main-nav ul {
    gap: 0.75rem; /* Reducir el espacio entre enlaces en móviles */
  }
  .header-content img {
    height: 40px; /* Reducir el logo en pantallas muy pequeñas */
  }
}
