/* Declaración de las fuentes personalizadas */
@font-face {
  font-family: 'NewYork';
  /* Asegúrate de que estas rutas sean correctas y usa .woff2/.woff si los tienes */
  src: url('./assets/fonts/NewYork.woff2') format('opentype'); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Recoleta';
  /* Asegúrate de que estas rutas sean correctas y usa .woff2/.woff si los tienes */
  src: url('./assets/fonts/Recoleta.woff2') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* El resto de tus estilos globales */
body {
  margin: 0;
  /* La fuente base para todo el cuerpo se establecerá en App.css */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Otros estilos... */
